.filter {
  border-bottom: 1px solid orange;
  &-text {
    margin: 10px 0 15px 0;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
  };
  &-label {
    display: flex;
    justify-content: center;
  };
  &-input {
    padding: 10px 50px;
    width: 300px;
    margin-bottom: 15px;
    border: 1px solid orange;
    border-radius: 5px;
    &:focus {
      outline: 1px solid blue;
      border: 1px solid transparent;
    }
  }
}